body {
  background-image: url();
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
      
    display: inline;
    
  }
 #project {
   width: 500px;
   height: 500px;
 }

 #icon {
width:30px
 }

 .container {
   text-align: center;
 }

 .my_info, .skills, .projects,.contact {
   
 }