body {

    background-image: url("../beerDB-app/background1.jpg");
    position: relative;
    background-size: contain;
    
    
}





.buttonAll {
    text-align: center;
    padding: 100px;
    
    
}

#beer,#location {

    background-color: transparent;
    color:white;
    
}


 .container{ 
     
     display: grid;                              /* puts  gap between words*/
    background-color: transparent;
    color:white;
    text-shadow: 0px 0px 10px grey;
    margin: auto;
    overflow-y:scroll;
    height: 300px; 
    width: 400px;
    padding: 100px;
    
    
} 

h2 {

    text-decoration: overline underline;
    
}

@media(max-width:500px){

    body {
        background-image: url("../beerDB-app/background1.jpg");
        background-size: contain;
        
        background-size:500px 100% ;
    }

    .buttonAll {
       
        display: flex;
        flex-direction: column;
    
    }

    #beer,#location {

        background-color: transparent;
        color:white;
        width:30%;
        margin-left: 80px;
        
    }

}

